*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px solid gray;
}

html,
body {
  font-family: $theme-font;
  font-size: $fs-base;
  line-height: 1.5;
}
a {
  text-decoration: none;
  display: block;
}
