.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $primary-light;
}

.bg-banner {
  background: url(../images/home-header-min.png) no-repeat;
  background-position: center;
  background-size: cover;
  @include tablet {
    background: url(../images/home-header-sm-min.png) no-repeat;
    background-size: cover;
  }
}

.bg-theme {
  background: url(../images/index-bg-min.png);
  background-position: center;
  background-size: cover;
}
