<footer class="bg-theme">
  <div class="container">
    <div class="d-flex justify-content-between flex-wrap align-center">
      <nav>
        <ul class="d-flex">
          <li><a href="../pages/index.html">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="../pages/faq.html">常見問題</a></li>
        </ul>
      </nav>
      <ul class="social-list d-flex">
        <li>
          <a href="#"
            ><img src="../assets/images/ic-social-fb-min.png" alt="facebook"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/ic_social_ig-min.png" alt="instagram"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/ic_social_line-min.png" alt="line"
          /></a>
        </li>
      </ul>
      <div class="contact">
        <h3 class="d-flex align-center">
          <span class="material-icons-outlined">call</span
          ><a href="tel:0800000000">0800-000-000</a>
        </h3>
        <h3 class="d-flex align-center">
          <span class="material-icons-outlined">mail</span
          ><a href="mailto:glasses@business.com">glasses@business.com</a>
        </h3>
      </div>
    </div>
    <div class="copyright d-flex justify-content-between">
      <p>
        Copyright © 2020 <a href="../pages/index.html">Glasses</a>.All rights
        reserved.
      </p>
      <ul class="d-flex copyright-link">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
