footer {
  padding-top: 3rem;
  @include mobile {
    padding-top: 1.5rem;
  }
  nav {
    @include mobile {
      display: none;
    }
    a {
      color: white;
      position: relative;
      overflow: hidden;
      @include hover-underlined(white);
    }
    li:not(:first-child) {
      margin-left: 3rem;
    }
  }
}

.social-list {
  @include mobile {
    align-self: flex-start;
  }
  img {
    width: 3rem;
    transition: all 1s ease;
    @include hover-rotate(360deg);
    @include tablet {
      width: 40px;
    }
    @include mobile {
      width: 24px;
    }
  }
  li:not(:first-child) {
    margin-left: 2rem;
    @include tablet {
      margin-left: 1rem;
    }
    @include mobile {
      margin-left: 0.5rem;
    }
  }
}

.contact {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include mobile {
    order: -1;
    width: 55%;
    padding: 0 0 1rem;
  }
  a,
  span {
    font-size: 2.25rem;
    color: white;
    @include mobile {
      font-size: 1rem;
    }
  }
  a {
    @include hover-underlined(white);
  }
  span {
    margin-right: 1.25rem;
    @include mobile {
      margin-right: 10px;
    }
  }
  h2 {
    margin-bottom: 0.5em;
  }
}

.copyright {
  color: white;
  border-top: 1px solid white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include mobile {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  a {
    display: inline-block;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  &-link {
    @include mobile {
      flex-direction: column;
      margin-top: 0.5rem;
    }
    a {
      font-size: 14px;
      @include mobile {
        font-size: 1rem;
      }
    }
    li:not(:first-child) {
      margin-left: 3rem;
      @include mobile {
        margin-left: 0;
        margin-top: 0.5rem;
      }
    }
  }
}
