header {
  nav {
    a {
      font-size: 1.25rem;
      color: $white;
      position: relative;
      overflow: hidden;
      @include hover-underlined($white);
    }
    li:not(:first-child) {
      margin-left: 4rem;
    }
  }
}

@include mobile {
  header {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
    nav {
      ul {
        flex-wrap: wrap;
        margin-left: -16px;
        margin-right: -16px;
      }
      li {
        width: 50%;
        border: 1px solid $white;
        &:not(:first-child) {
          margin-left: 0;
        }
      }
      a {
        white-space: nowrap;
        padding: 0.75rem;
        text-align: center;
        transition: all 0.3s ease;
        @include hover-bg($white, $theme-red);
        &::after {
          height: 0;
        }
      }
    }
  }
}
