.banner {
  padding-top: 18.5rem;
  padding-bottom: 18.5rem;
  @include mobile {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
  &-content {
    max-width: 576px;
    color: $primary-dark;
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    p {
      font-size: 2.25rem;
      @include mobile {
        font-size: 1rem;
      }
    }
    h2 {
      font-size: 4rem;
      margin-bottom: 4px;
      @include mobile {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
    a {
      align-self: flex-end;
      font-size: 1.25em;
      padding: 6px 12px;
      color: white;
      background-color: $primary;
      transition: all 0.3s ease;
      @include hover-bg(white, $primary);
    }
  }
}

.intro {
  @include mobile {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  h3 {
    margin-bottom: 2rem;
  }
  &-list {
    &-item {
      width: 306px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablet {
        width: 48%;
        &:not(:nth-of-type(n + 3)) {
          margin-bottom: 2.25rem;
        }
      }
      @include mobile {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
      img {
        width: 84px;
        margin-bottom: 1.5rem;
      }
      &-title {
        font-size: 1.5rem;
        color: $primary-dark;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.product {
  &-main {
    @include mobile {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    &-list {
      @include tablet {
        flex-direction: column;
      }
      &-item {
        width: 416px;
        @include tablet {
          width: 48%;
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
        @include mobile {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
        img {
          transition: all 0.5s ease;
        }
        &-img {
          overflow: hidden;
          margin-bottom: 0.5rem;
        }
        &-title {
          text-align: center;
          color: $primary;
          font-size: 3rem;
          font-style: italic;
          font-weight: bold;
        }
        &:hover {
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          img {
            transform: scale(1.3);
          }
        }
      }
    }
  }
  &-brand {
    @include mobile {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    h3 {
      color: white;
    }
    &-list {
      &-item {
        width: 50%;
        background-color: white;
        @include tablet {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
        &-img {
          height: 240px;
          width: 648px;
          @include tablet {
            width: 696px;
          }
          @include mobile {
            width: 348px;
          }
        }
        .brand-img {
          &-1 {
            background: url(../images/home-section4-1-min.png) no-repeat;
            background-size: cover;
            @include mobile {
              background: url(../images/home-section4-1-sm-min.png);
              background-size: contain;
            }
          }
          &-2 {
            background: url(../images/home-section4-2-min.png) no-repeat;
            background-size: cover;
            @include mobile {
              background: url(../images/home-section4-2-sm-min.png);
              background-size: contain;
            }
          }
        }
        &-title {
          text-align: center;
          color: $primary;
          font-size: 3rem;
          font-weight: 700;
          font-style: italic;
          @include hover-bg($primary, white);
        }
      }
    }
  }
}

.reccomend {
  &-card {
    width: 306px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    flex-direction: column;
    @include hover-translateY(-5px);
    @include tablet {
      width: 336px;
      &:not(:nth-of-type(n + 3)) {
        margin-bottom: 1.5rem;
      }
    }
    @include mobile {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &-body {
      flex-grow: 1;
      flex-direction: column;
      padding: 1rem;
      time {
        font-size: 14px;
        color: #707070;
      }
    }
    &-title {
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    &-text {
      margin-bottom: 4rem;
      flex-grow: 1;
    }
  }
}
