<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網｜首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="bg-banner">
        <div class="container banner">
          <div class="banner-content d-flex">
            <p>Promise-Desert 2020 早春系列</p>
            <h2 class="fw-bold">看得清，才能看得遠</h2>
            <a href="#">立即購買</a>
          </div>
        </div>
      </div>
      <section class="bg-secondary">
        <div class="container intro py-80">
          <h3 class="text-center title-section">用專業的心，做專業的事</h3>
          <ul class="d-flex justify-content-between intro-list flex-wrap">
            <li class="intro-list-item">
              <img src="../assets/images/home-section2-1-min.png" alt="price" />
              <h4 class="intro-list-item-title">單一價格</h4>
              <p class="intro-list-item-content">
                無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
              </p>
            </li>
            <li class="intro-list-item">
              <img src="../assets/images/home-section2-2-min.png" alt="price" />
              <h4 class="intro-list-item-title">20 分鐘即可取件</h4>
              <p class="intro-list-item-content">
                為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
                20 分鐘即可完成。
              </p>
            </li>
            <li class="intro-list-item">
              <img src="../assets/images/home-section2-3-min.png" alt="price" />
              <h4 class="intro-list-item-title">安心售後服務</h4>
              <p class="intro-list-item-content">
                我們提供長達 120
                天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
              </p>
            </li>
            <li class="intro-list-item">
              <img
                src="../assets/images/home-sectioin2-4-min.png"
                alt="price"
              />
              <h4 class="intro-list-item-title">關於鏡片</h4>
              <p class="intro-list-item-content">
                使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <div class="container product-main py-80">
          <h3 class="title-section text-center">經典系列鏡框</h3>
          <ul
            class="d-flex justify-content-between align-center product-main-list"
          >
            <li class="product-main-list-item">
              <div class="product-main-list-item-img">
                <img
                  src="../assets/images/home-section3-1-min.png"
                  alt="OPTICAL"
                />
              </div>
              <p class="product-main-list-item-title">OPTICAL</p>
            </li>
            <li class="product-main-list-item">
              <div class="product-main-list-item-img">
                <img
                  src="../assets/images/home-section3-2-min.png"
                  alt="SUNGLASSES"
                />
              </div>
              <p class="product-main-list-item-title">SUNGLASSES</p>
            </li>
            <li class="product-main-list-item">
              <div class="product-main-list-item-img">
                <img
                  src="../assets/images/home-section3-3-min.png"
                  alt="FUNCTIONAL"
                />
              </div>
              <p class="product-main-list-item-title">FUNCTIONAL</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="bg-theme">
        <div class="container product-brand py-80">
          <h3 class="title-section text-center">聯名設計鏡框</h3>
          <ul class="d-flex flex-wrap product-brand-list">
            <li class="product-brand-list-item">
              <div class="product-brand-list-item-img brand-img-1"></div>
              <p class="product-brand-list-item-title">DOUBLE A+</p>
            </li>
            <li class="product-brand-list-item">
              <div class="product-brand-list-item-img brand-img-2"></div>
              <p class="product-brand-list-item-title">YOUTH</p>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <div class="container py-80 recommend">
          <h3 class="title-section text-center">顧客推薦</h3>
          <ul class="d-flex justify-content-between flex-wrap">
            <li class="reccomend-card d-flex">
              <img
                src="../assets/images/home-section5-1-min.png"
                alt="Jessy"
                class="reccomend-card-img"
              />
              <div class="reccomend-card-body d-flex">
                <h5 class="reccomend-card-title">Jessy</h5>
                <p class="reccomend-card-text">
                  眼鏡品質優良，下次還會想來這邊購買！
                </p>
                <time class="reccomend-card-time">2021/06/20</time>
              </div>
            </li>
            <li class="reccomend-card">
              <img
                src="../assets/images/home-section5-2-min.png"
                alt=""
                class="reccomend-card-img"
              />
              <div class="reccomend-card-body d-flex">
                <h5 class="reccomend-card-title">凱倫</h5>
                <p class="reccomend-card-text">
                  做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                </p>
                <time class="reccomend-card-time">2021/04/18</time>
              </div>
            </li>
            <li class="reccomend-card">
              <img
                src="../assets/images/home-section5-3-min.png"
                alt="悠悠"
                class="reccomend-card-img"
              />
              <div class="reccomend-card-body d-flex">
                <h5 class="reccomend-card-title">悠悠</h5>
                <p class="reccomend-card-text">
                  謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                </p>
                <time class="reccomend-card-time">2020/10/31</time>
              </div>
            </li>
            <li class="reccomend-card">
              <img
                src="../assets/images/home-section5-4-min.png"
                alt="Kyuan"
                class="reccomend-card-img"
              />
              <div class="reccomend-card-body d-flex">
                <h5 class="reccomend-card-title">Kyuan</h5>
                <p class="reccomend-card-text">
                  服務很好，品質沒有任何問題，非常喜歡。
                </p>
                <time class="reccomend-card-time">2020/10/31</time>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="bg-secondary">
        <div class="container">
          <div class="comment py-80">
            <h3 class="title-section text-center">聯絡我們</h3>
            <p class="comment-text">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form class="form d-flex">
              <div class="form-group">
                <label for="name">
                  <p>性別</p>
                  <input type="text" id="name" placeholder="陳小明" required />
                </label>
              </div>
              <div class="form-group">
                <label for="tel">
                  <p>聯絡電話</p>
                  <input
                    type="tel"
                    id="tel"
                    placeholder="0912-345-678"
                    required
                  />
                </label>
              </div>
              <div class="form-group">
                <label for="email">
                  <p>電子郵件</p>
                  <input
                    type="email"
                    id="email"
                    placeholder="example@email.com"
                    required
                  />
                </label>
              </div>
              <div class="form-group">
                <label for="comment">
                  <p>意見反應</p>
                  <textarea
                    name="comment"
                    id="comment"
                    cols="30"
                    rows="10"
                    placeholder="請輸入您的意見"
                  ></textarea>
                </label>
              </div>
              <div class="form-group d-flex">
                <input
                  type="checkbox"
                  class="inline"
                  id="terms-and-conditions"
                  required
                />
                <label for="terms-and-conditions">
                  我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                </label>
              </div>
              <a href="#" class="btn-submit">確認送出</a>
            </form>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
